assets/flows/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "userInput": "={{ $('Telegram Trigger').item.json.message }}",
        "useExistingChatId": true,
        "chatId": "={{ $json.valid ? $json.chatId : null }}"
      },
      "type": "CUSTOM.SymbiosikaChatWithAssistant",
      "typeVersion": 1,
      "position": [
        420,
        -220
      ],
      "id": "6a5aad5e-a5b5-491c-bfa3-3036245a1a19",
      "name": "Symbiosika Assistant Chat1",
      "credentials": {
        "symbiosikaChatApi": {
          "id": "BgtG6qua9Oaq8glQ",
          "name": "Symbiosika Chat account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -180
      ],
      "id": "32ec8ca6-ab41-4677-aa2e-8ea0836ac963",
      "name": "Telegram Trigger",
      "webhookId": "39ba8374-c65b-4b21-bccb-246e9d435f20"
    },
    {
      "parameters": {
        "operation": "getSession",
        "sessionId": "={{ $json.userId }}"
      },
      "type": "CUSTOM.SymbiosikaChatSessionStore",
      "typeVersion": 1,
      "position": [
        160,
        -280
      ],
      "id": "899d35f2-f675-40aa-bb81-e35145e2258d",
      "name": "Symbiosika Chat Session Store"
    },
    {
      "parameters": {
        "sessionId": "={{ $('Symbiosika Chat Session Store').item.json.userId }}",
        "chatId": "={{ $json.chatId }}"
      },
      "type": "CUSTOM.SymbiosikaChatSessionStore",
      "typeVersion": 1,
      "position": [
        660,
        -280
      ],
      "id": "44009f34-f106-4490-88fa-d4ff1bed728d",
      "name": "Symbiosika Chat Session Store1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e25d9413-4ee8-409d-a93a-d804b6bbbbfb",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        60
      ],
      "id": "e4b623d1-562e-485a-9ead-ec563e9a3aa1",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "CUSTOM.SymbiosikaChatHistory",
      "typeVersion": 1,
      "position": [
        640,
        40
      ],
      "id": "8aea9982-b90b-4803-994e-0beabd72fe48",
      "name": "Symbiosika Chat History",
      "credentials": {
        "symbiosikaChatApi": {
          "id": "BgtG6qua9Oaq8glQ",
          "name": "Symbiosika Chat account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "userId": "ABC",
          "message": "Sag mal A"
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Symbiosika Chat Session Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbiosika Chat Session Store": {
      "main": [
        [
          {
            "node": "Symbiosika Assistant Chat1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbiosika Assistant Chat1": {
      "main": [
        [
          {
            "node": "Symbiosika Chat Session Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Symbiosika Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fd69fb3-e4dd-47a0-ba71-7f190cb87cec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07d29a0a7ce6a2dfc531cbc0e336091291d8363b4157f24f99f3ded700490e21"
  },
  "id": "I7uX7Mxjq3g8Nfip",
  "tags": []
}