assets/flows/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -180
      ],
      "id": "32ec8ca6-ab41-4677-aa2e-8ea0836ac963",
      "name": "Telegram Trigger",
      "webhookId": "39ba8374-c65b-4b21-bccb-246e9d435f20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e25d9413-4ee8-409d-a93a-d804b6bbbbfb",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -60
      ],
      "id": "e4b623d1-562e-485a-9ead-ec563e9a3aa1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getSession",
        "sessionId": "={{ $json.userId }}"
      },
      "type": "CUSTOM.symbiosikaChatSessionStore",
      "typeVersion": 1,
      "position": [
        160,
        -300
      ],
      "id": "8846d764-4d23-49ad-997e-df585e5ce5f8",
      "name": "Symbiosika Chat Session Store2"
    },
    {
      "parameters": {
        "userInput": "={{ $json.message }}",
        "useExistingChatId": true,
        "chatId": "={{ $json.chatId ?? null }}",
        "useSpecificAssistant": true,
        "assistantId": "3893ea46-a02c-4f00-b5ac-95c6f8e4a7fb"
      },
      "type": "CUSTOM.symbiosikaChatWithAssistant",
      "typeVersion": 1,
      "position": [
        400,
        -300
      ],
      "id": "9505874c-63bd-491a-9eb9-4a970705fbda",
      "name": "Symbiosika Assistant Chat1",
      "credentials": {
        "symbiosikaChatApi": {
          "id": "BgtG6qua9Oaq8glQ",
          "name": "Symbiosika Chat account"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $('Symbiosika Chat Session Store2').item.json.userId }}",
        "chatId": "={{ $json.chatId }}"
      },
      "type": "CUSTOM.symbiosikaChatSessionStore",
      "typeVersion": 1,
      "position": [
        640,
        -300
      ],
      "id": "bcf729b8-770c-4e0f-a664-8da91efc7f0d",
      "name": "Symbiosika Chat Session Store"
    },
    {
      "parameters": {},
      "type": "CUSTOM.symbiosikaChatHistory",
      "typeVersion": 1,
      "position": [
        420,
        -60
      ],
      "id": "2ce91adc-4fc3-4fc4-a63b-2d8e515f8c22",
      "name": "Symbiosika Chat History",
      "credentials": {
        "symbiosikaChatApi": {
          "id": "BgtG6qua9Oaq8glQ",
          "name": "Symbiosika Chat account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "userId": "AABB",
          "message": "was ist ein messdas forecast?"
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Symbiosika Chat Session Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Symbiosika Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbiosika Chat Session Store2": {
      "main": [
        [
          {
            "node": "Symbiosika Assistant Chat1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbiosika Assistant Chat1": {
      "main": [
        [
          {
            "node": "Symbiosika Chat Session Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c9f8644-c181-4b1f-b674-d2629c8c0f71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07d29a0a7ce6a2dfc531cbc0e336091291d8363b4157f24f99f3ded700490e21"
  },
  "id": "I7uX7Mxjq3g8Nfip",
  "tags": []
}